.Home{
    width:90%;
    margin: 100px 5% 0 5%;
    font-size: 2.4em;
    font-family: "Raleway",serif !important;
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }

  .Home-avatar img{    
    border-radius: 50%;
    width: 110px;
    height: 110px;
  }

  .Home-avatar{
    display: flex;
    justify-content: center;
  }

  .Home-about-me{
    text-align: center;
    margin-bottom: 5px;
  }

  .Home-about-me-content{
    font-size: 16px;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    background-color: #dacccc;
    margin: 10px 5% 70px 5%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 5px 3px rgba(1, 2, 3, 0.459) !important;
  }

  .Home-about-me-content p b {
    color:rgb(19, 0, 128);
    font-weight: bolder;
    font-style: italic;
  }

  .tools img{
    width: 140px;
    margin: 20px;
  }

  .tools{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }

  .Home-Professional-Skillset{
    text-align: center;
    margin-bottom: 45px;
  }