h1 {
    text-align: center;
  }
  
  .resume {
    display: flex;
    justify-content: center;
    flex-direction: column;
      margin: 80px 5% 50px 5%;
  }
  
  @media (min-width: 900px) {
    .resume {
      display: flex;
      justify-content: space-between;
      flex-direction: row;      
    }
    .resume-education, .resume-experience{
      width: 50%;
    }
  }
  
  .resume label{
    outline-color: transparent;
    margin-top: 2px;
  }

  .resume-education h1, .resume-experience h1{
    margin-bottom: 30px;
  }