.work-header{
    width:90%;
    margin: 100px 5% 0 5%;
}

.work h2 {
    text-align: center;
}

html{
    background-color: #f5b15d;
background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

@media (min-width: 550px) {
    .workcards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .work-header{
      margin: 100px 5% 40px 5%;
  }
  }

  